<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>EQDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.servitola.eq.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EQDriver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>EQDriverProtocol</key>
	<integer>__PROTOCOL__</integer>
	<key>EQDriverRevision</key>
	<integer>__REVISION__</integer>
	<key>LSMinimumSystemVersion</key>
	<string>14.4</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>EC663BFF-35BB-4409-A125-E7C6C1FF7651</key>
		<string>EQDriver_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>EC663BFF-35BB-4409-A125-E7C6C1FF7651</string>
		</array>
	</dict>
</dict>
</plist>
